# constraints file
set_property IOSTANDARD LVTTL [get_ports clk_100MHz]
set_property IOSTANDARD LVTTL [get_ports rst]
set_property IOSTANDARD LVTTL [get_ports {SEGMENT[0]}]
set_property IOSTANDARD LVTTL [get_ports {SEGMENT[1]}]
set_property IOSTANDARD LVTTL [get_ports {SEGMENT[2]}]
set_property IOSTANDARD LVTTL [get_ports {SEGMENT[3]}]
set_property IOSTANDARD LVTTL [get_ports {SEGMENT[4]}]
set_property IOSTANDARD LVTTL [get_ports {SEGMENT[5]}]
set_property IOSTANDARD LVTTL [get_ports {SEGMENT[6]}]

set_property IOSTANDARD LVTTL [get_ports {AN[7]}]
set_property IOSTANDARD LVTTL [get_ports {AN[6]}]
set_property IOSTANDARD LVTTL [get_ports {AN[5]}]
set_property IOSTANDARD LVTTL [get_ports {AN[4]}]
set_property IOSTANDARD LVTTL [get_ports {AN[3]}]
set_property IOSTANDARD LVTTL [get_ports {AN[2]}]
set_property IOSTANDARD LVTTL [get_ports {AN[1]}]
set_property IOSTANDARD LVTTL [get_ports {AN[0]}]
